<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ariatemplates.kitchensink" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kitchen Sink</name>
    <description>
        Aria Templates Kitchen Sink.
    </description>
    <author email="contact@ariatemplates.com" href="http://ariatemplates.com">
        Aria Templates Team
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="splashscreen" value="splash" />
    <preference name="splashScreenDelay" value="10000" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-installLocation" value="auto" />
    <access origin="*" />
    <content src="indexCordova.html" />
</widget>
